// @import '_colors';
// @import '_shadow';

$container-xl: 1440px;
$container-l: 1140px;
$container-m: 960px;
$container-s: 540px;

@mixin responsive($device) {
    @if $device == xl {
        @media screen and (min-width: $container-xl) {
            @content;
        }
    } @else if $device == l {
        @media screen and (max-width: $container-xl) and (min-width: $container-l) {
            @content;
        }
    } @else if $device == m {
        @media screen and (max-width: $container-l) and (min-width: $container-m) {
            @content;
        }
    } @else if $device == s {
        @media screen and (max-width: $container-s) {
            @content;
        }
    }
}

$layout: black;
// $bg-color: #101010;
// $text-color: #efefef;

// @if $layout == light {
//     $bg-color: #efefef;
//     $text-color: #101010;
// } @else if $layout == dark {
//     $bg-color: #101010;
//     $text-color: #efefef;
// }


// @mixin title($tamanho: 48px, $cor: red) {
//     font-variant: small-caps;
//     color: $cor;
//     font-size: $tamanho;
    
//     @media (max-width: 960px){
//         @content
//     }
// }

// @mixin responsive() {
//     margin: 0 auto;
//     font-variant: small-caps;

//     @media (max-width: 960px) {
//         @content
//     }
// }

// @for $i from 1 through 3 {
//     div-#{$i} {
//         background-color: antiquewhite;
//     }
// }

// @function grid($col, $total: 12) {
//     @return ($col / $total) * 100%
// }

// .div {
//     width: grid(3);
// }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

body {

    // width: 100%;
    // height: 100vh;
    
    background-color: $layout;

    // display: flex;
    // justify-content: center;
    // align-items: center;

    // flex-direction: column;
}

h1 {
    // color: black;

    // @include responsive() {
    //     font-weight: 900;
    //     // font-size: 64px;
    //     transition: 0.8s ease;
    // }

    // @include title(48px, blue) {
    //     text-decoration: overline;
    // };

    // span {
    //     color: $grey;
    // }
}

$container: 1400px;
$gutter: 24px;

.container {
    max-width: $container;
    margin: 0 auto;
    // padding: 36px 16px;

    border: 1px solid #555;

    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

@function grid($col, $total: 12) {
    @return ($col / $total) * 100%;
}

@for $i from 1 through 12 {
    .grid-#{$i} {
        width: calc(#{grid($i)} - #{$gutter});
        margin: calc($gutter / 2);
        border: 2px solid #333;
        height: 72px;
        float: left;
        background-color: rgb(54, 54, 54);

        @include responsive(s) {
            width: calc(100% - #{$gutter});
            margin: $gutter / 2;
            float: none;
        }
    }
}

// a {
//     margin-top: 16px;
//     padding: 8px 32px;
//     background-color: $purple;
//     text-decoration: none;
//     color: $text-color;
//     transition: 0.6s ease;
    

//     &:hover {
//         box-shadow: $shadow;
//     }
// }

// @media (max-width: 960px) {
//     h1 {
//         transition: 0.8s ease-in-out;
//         font-size: 24px;
//     }
// }