* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 10000px;
    width: 100%;

    background-color: #1a1a1a;
    overflow-x: hidden;
    /* background-image: url('https://static.vecteezy.com/ti/vetor-gratis/p1/6897038-cosmos-flor-fundo-em-aquarela-vetor.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.img-1 {
    background-image: url('https://a.travel-assets.com/findyours-php/viewfinder/images/res40/262000/262559-Ilha-Grande-Bay.jpg');
    background-size: cover; /* Ajusta a imagem para cobrir todo o elemento */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-position: center; /* Centraliza a imagem */
    width: 100%;
    height: 100vh;
    position: fixed;
    opacity: 1;
    z-index: 1000;
    transition: opacity 0.5s ease;
    top: 0;
    left: 0;
}

.img-2 {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEDlONf2zt6RbJGLw9k6yPTvV9exsB6YEOyQ&s');
    background-size: cover; /* Ajusta a imagem para cobrir todo o elemento */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-position: center; /* Centraliza a imagem */
    width: 100%;
    height: 100vh;
    position: fixed;
    opacity: 1;
    transition: opacity 0.5s ease;
    top: 0;
    left: 0;
}

.img-3 {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7wf5yNTNvLZv2PEhRZ76NU7X1ppM4uzektw&s');
    background-size: cover; /* Ajusta a imagem para cobrir todo o elemento */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-position: center; /* Centraliza a imagem */
    width: 100%;
    height: 100vh;
    position: fixed;
    opacity: 1;
    transition: opacity 0.5s ease;
    top: 0;
    left: 0;
}