* {
    margin: 0 auto;
}

body {
    background-color: #222222;
}

ul {
    margin-top: 1%;
    display: flex;
    /* border: 3px solid red; */
    /* background-color: azure; */
    height: 30px;
    /* align-items: center; */
    /* justify-content: space-between; */
    /* border: 2px solid white; */
    position: sticky;
    z-index: 1;
}

ul {
    /* text-shadow: #0f0f0f 2px 2px; */
    list-style-type: none;
}

a {
    padding: 6px 25px;
    color: violet;
    text-decoration: none;
    transition: ease-in-out 0.2;
}

a:hover {
    border: 0.08px solid white;
    background-color:darkorchid;
    border-radius: 20px;

    /* animation-delay: 3ms ease-in-out; */
}

form textarea {
    /* text-align: center; */
    /* border: 2px solid red; */
    /* position: absolute; */
    /* margin: 0 auto; */
    width: 80%;
}
 form {
    /* border: 3px solid maroon; */
    text-align: center;
    /* margin: 0 auto; */
 }

[type=button] {
    /* border: 2px solid red; */
    position: relative;
    padding: 10px 15%;
    margin: 5px auto;
    /* margin-top: 50px; */
    text-align: center;
    /* height: 100px; */
    background-color:rgb(78, 52, 13)
}

[type=button]:hover {
   background-color: chocolate;
}

[type=textarea] {
    margin-top: 3vw; /* vw segue os padroes da tela do usuario */
    height: 15vh; /* 100vh é a tela toda!! */
    /* background-color: aqua; */
}

section {
    display: flex;
    flex-direction: row;
    text-align: center;
}

h1::first-letter {
    /* text-align: center; */
    background-color: aqua;
    /* margin: 0 auto; */
    /* border: 3px solid red; */
    text-transform: capitalize;
}

button {
    display: flex;
    justify-content: center;
    color: bisque;
    background-color: #2e332a;
    padding: 1vh;
    margin: 0 auto;

    border-radius: 6px;
    transition: 0.1s ease-in-out;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button:hover {
    transform: scale(1.05);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

h1 {
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
    border: 3px solid white;
    justify-content: center;
    width: fit-content;
    /* display: inline-block; */
    color: aliceblue;
    display: inline-block;
}

.container {
    display: flex;
}

.item {
    color: white;
    font-size: 3vh;
}

@media screen and {
    
}