body {
    background-color: #1a1a1a;
}

section {
    padding: 5px;
    margin: 0px auto;
    width: 40%;
    /* height: 500px; */

    /* border: 1px solid red; */

    /* background-image: url("../assets/photo.JPG");
    background-size: cover; */
}

img {
    border-radius: 20px;
    width: 80%;
    margin: 10px 0px;
    padding: 10%;
    box-shadow: 5px 5px 28px #010c16;
}

p {
    font-family: sans-serif;
    font-weight: 200; /* negrito */
    font-size: large;
    color: bisque;
    text-align: center; 
    font-variant: small-caps; /* mudar forma da fonte */
    text-shadow: 5px 5px 2px #558ABB; /* offset-x | offset-y | blur-radius | color */
    letter-spacing: 5px; /* espaços entre letras */
}
