* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100dvh;

    background-color: #1a1a1a;
}

.container {
    // position: relative;
    margin: 0 auto;
    width: 80%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.parent {
    perspective: 200px;
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 16px;

    // transform: rotateX(20deg) rotateY(20deg);

    transform-style: preserve-3d;
    transition: all 0.8s ease;
}

.box {
    border-radius: 16px;
    width: 100px;
    height: 100px;
    background: linear-gradient(red, blue);
    opacity: 0.9;
    // transform: skew(-20deg);

    // transition: .9s ease;
    
    transform: rotateX(50deg);
    transition: all 0.8s ease;
    
    // &:hover {
        // transform-origin: 0% 0%;
        // position: absolute;
        // transform: skew(-50deg);
        // transform: scale(1.15);
        // transform: rotate(180deg);
        // transform: rotateX(180deg) ;
        // transform: rotateY(180deg);
        // transform: translate(-300px, 500%);
        // top: 50%;
        // opacity: 1;
    // }
}

.centralizar {
    // transform-origin: bottom left;
    transform: rotateX(120deg);
    // transform-origin: -300px 150px;
    // transform: rotateX(20deg) translate(-300px, 500%);
    // animation: center 0.8s infinite;
}

.roll-parent {
    transform: rotateY(-180deg);
}

@Keyframes center{
    // from {
    //     // transform: rotateX(20deg) translate(-300px, 500%);
    //     transform: skew(0deg) ;
    //     // transform: translate(-300px, 500px);
    // }
    // // 10% {
    // //     transform: translate(-300px, 500%);
    // //     // transform: skew(100deg);
    // // }
    // to {
    //     transform: skew(20deg);
    // }
}

@keyframes rotation{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

.border {
    border: 1px solid red;
}