* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100dvh;

    background-color: #1a1a1a;
}

.container {
    // position: relative;
    margin: 0 auto;
    width: 80%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;

    perspective: 500px;
}

.box {
    border-radius: 16px;
    width: 100px;
    height: 100px;
    background: linear-gradient(red, blue);
    opacity: 0.6;
    // transform: skew(-20deg);

    transform-origin: center center;
    transition: .8s ease;

    transition: all 1s ease;
    
    &:hover {
        // position: absolute;
        transform: rotate(20deg) translate(30px, -80px) scale(1.15) skew(0deg);
        // transform: skew(-50deg);
        // transform: scale(1.15);
        // transform: rotate(180deg);
        // transform: rotateX(180deg) ;
        // transform: rotateY(180deg);
        // transform: translate(-300px, 500%);
        // top: 50%;
        // opacity: 1;
    }
}

.centralizar {
    // transform-origin: -300px 150px;
    // transform: rotateX(20deg) translate(-300px, 500%);
    // animation: center 0.8s infinite;
}

@Keyframes center{
    // from {
    //     // transform: rotateX(20deg) translate(-300px, 500%);
    //     transform: skew(0deg) ;
    //     // transform: translate(-300px, 500px);
    // }
    // // 10% {
    // //     transform: translate(-300px, 500%);
    // //     // transform: skew(100deg);
    // // }
    // to {
    //     transform: skew(20deg);
    // }
}

@keyframes rotation{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

.border {
    border: 1px solid red;
}