* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;

    background-color: #1a1a1a;
}

header {
    height: 50px;
    width: 100%;

    margin: 0 auto;

    background-color: black;
} 

.nav-menu {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: black;
}

.logo {
    margin: 10px;
    width: 30px;
    height: 30px;
    background-color: aquamarine;

    border-radius: 10px;
}

.logo:hover {
    opacity: 0.8;
}


.items-link {
    display: flex;
    list-style: none;
}

.links {
    padding: 15px;

    /* transition: 0.8s ease; */
}

.links:hover {
    opacity: 0.8;
}

.item-link {
    padding: 15px 5px;
}

.buttons-right {
    margin: 10px;

    height: 25px;
    width: 80px;
    background-color: aquamarine;
    border-radius: 10px;

    /* transition: 1.05s ease; */
}

.buttons-right:hover {
    opacity: 0.8;
}

.item-link {
    text-decoration: none;
    color: aliceblue;
}

.items-body {
    margin: 15px auto;
    
    width: 90%;
}

.up-items {
    height: 280px;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
}

.item-up {
    /* border: 3px solid rebeccapurple; */
    width: 100%;
}

.item-padd {
    height: 230px;
    width: 100%;
    
    border-radius: 10px;
    
    background-color: #777;
}

h3 {
    line-height: 130%;
    margin: 4px;
    color: #fff;
}

h5 {
    line-height: 130%;
    margin: 4px;
    color: #cfcfcf;
}

.down-items {
    width: 100%;
    height: 400px;
    display: flex;
    gap: 15px;

    /* border: 2px solid orange; */
}

.down-left {
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.item-left-1 {
    height: 350px;
    background-color: #777;
    border-radius: 10px;
}

.down-center {
    width: 32.5%;
    height: 350px;
}

.item-center-1 {
    display: flex;
    margin-bottom: 20px;
}

.thumb-center-1 {
    margin-right: 10px;
    max-width: 120px;
    min-width: 110px;
    border-radius: 10px;
    height: 100px;
    background-color: #777;
}

.text-title {
    display: flex;
    flex-direction: column;
}

h4 {
    color: #cfcfcf;
    line-height: 130%;
}

h6 {
    line-height: 160%;
    color: #777;
}

.down-right {
    width: 32.5%;
}

.right-item {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.thumb-right {
    border-radius: 10px;
    min-width: 120px;
    max-width: 150px;
    height: 165px;
    background-color: #777;
}

@media (max-width: 640px) {
    .up-items {
        flex-direction: column;
        margin-top: 320px;
    }
    
    .down-items {
        margin-top: 320px;
        flex-direction: column;
    }
}