* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* para aumentar o tamanho do box, sem estar ligado ao conteudo dentro dela */
    font-family: sans-serif;
}

body {
    background-color: #1a1a1a;
}

.container {
    max-width: 500px;
    height: 500px;

    margin: 10px auto;

    border: 5px solid white;

    display: flex;
    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse; */

    justify-content: flex-start;
    /* align-items: center; */
}

/* @media (max-width:960px) {
    .container {
        flex-direction: column
    };
} */

.item {
    margin: 5px;
    /* max-height: 150px; */
    /* min-height: 150px; */
    padding: 20px;
    flex-grow: 1;
    background-color: #ccc;
    flex-basis: 100px;
}

.item:nth-child(2) {
}

